@{
    ViewData["Title"] = "Single Access Request";
}

<table>
    <tr>
        <td style='width: 30%;'>
            <img class="newappIcon" src="/images/newapp-icon.png">
        </td>
        <td>
            <h1 id="message">Single Access Request</h1>
            </td>
    </tr>
</table>

<h3>Access Requests</h3>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Field 1</th>
			    <th>Field 2</th>
				<th>Title from EA API</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@ViewData["id"]</td>
                <td>@ViewData["sample_Field_1"]</td>
			    <td>@ViewData["sample_Field_2"]</td>
				<td>@ViewData["EATitle"]</td>
            </tr>
        </tbody>
    </table>