@using WebApplication.Controllers
@model List<AccessRequestAPIResponse>
@{
    ViewData["Title"] = "Access Requests";
}

<section id="breadcrumbs">
		<ol class="breadcrumb">
			<li class="breadcrumb-item active"><a href="/access">Home</a></li>
		</ol>
	</section>
<!-- 
<table>
    <tr>
        <td style='width: 30%;'>
            <img class="newappIcon" src="/images/newapp-icon.png">
        </td>
        <td>
            <h1 id="message">Multiple Access Requests</h1>
            </td>
    </tr>
</table>
-->
<h3>Access Requests</h3>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Access Request ID</th>
                <th>Application ID</th>
			    <th>Field 2</th>
            </tr>
        </thead>
        <tbody>
		@foreach(var request in Model){
            <tr>
                <td><a href="/access/@request.Id">@request.Id</a></td>
                <td>@request.Sample_Field_1</td>
			    <td>@request.Sample_Field_2</td>
            </tr>
		}
        </tbody>
    </table>